.searchList {
  height: 25vh;
}

.list {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 1.2rem;
  margin-top: 5rem;
}

.listItem {
  margin: 1rem .5rem;
}

.track {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15rem;
  text-align: center;
}

.track:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: .2s all;
}
.track:active {
  transform: translateY(-1rem);
}

.albumImage {
  border-radius: 15rem;
  margin-bottom: .5rem;
  height: 8rem;
}

@media only screen and (max-width: 37.5em) {  
  .list {
    flex-wrap: wrap;
  }
  .albumImage {
    height: 6rem;
  }
}

