.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #191414;
}

.input {
  color: #191414;
  background-color: #f4f2f2;
  font-size: 1.6rem;
  border: none;
  padding: 1rem 4rem;
  border-radius: 10rem;
  width: 35%;
  transition: all .2s;
  margin-right: -5rem;
}

.input:focus {
  outline: none;
  width: 45%;
  background-color: #f0eeee;
}

.input::-web-kit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.input:focus + .button {
  background-color: #f0eeee;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18rem;
}

/* @media only screen and (max-width: 37.5em) {  
  .searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
  }
};     */
