.albumImage {
  border-radius: 10rem;
  margin: 1rem .5rem;
  height: 10rem;
}

.labelTrack {
  opacity: 0;
  font-size: 1.2rem;
  font-weight: 300;
  position: absolute;
  top: -.5rem;
  left: 5%;
  transform: translateX(-50%);
}

.albumImage:hover + .labelTrack {
  opacity: 1;
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translate(-50%);
  transition: all .2s;
}

.playlistItem {
  position: relative;
}

@media only screen and (max-width: 37.5em) {  
  .albumImage {
    height: 8rem;
  }
}    
        
@media only screen and (max-width: 56.25em) { 
  .albumImage {
    height: 8rem;
  }
} 

@media only screen and (max-width: 75em) { 
  .albumImage {
    height: 9rem;
  }
} 

@media only screen and (min-width: 112.5em) {  
  .albumImage {
    height: 10rem;
  }
}